__pycache__/
.ipynb_checkpoints/
.vscode/
.pytest_cache/
build/
dnu/
dist/
.claude/
*.egg-info
*.log
*.env
*.parquet
*.ruff_cache
config.yml
# For mac users
.DS_Store
# dev tools
.coverage
import_graph.svg
tmp/
# MkDocs build output
/site/

*.xlsx
# Keep the templates & examples
!/examples/excel/example_input_excel.xlsx
!/src/pyetm/templates/input_template.xlsx
