__pycache__/
.ipynb_checkpoints/
.vscode/
.pytest_cache/
build/
dnu/
dist/
*.egg-info
*.log
*.env
*.ruff_cache
config.yml
# For mac users
.DS_Store
# dev tools
.coverage
import_graph.svg
tmp/

*.xlsx
