__pycache__/
.ipynb_checkpoints/
.vscode/
.pytest_cache/
build/
dnu/
dist/
*.egg-info
*.log
*.env
*.ruff_cache

# TODO: include example.config.yml in example folder
config.yml

# For mac users
.DS_Store
