[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"
dotenv = "*"
pyyaml = "*"
pydantic-settings = "*"
pytest = "*"

[dev-packages]
pytest = "*"
pylint = "*"
requests-mock = "*"
ipykernel = "*"
notebook = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"

[scripts]
test = "python -m pytest"
test_with_coverage = "python -m pytest --cov=pyetm tests/"
linter = "python -m pylint app"
